<!--This is the html form to add a prescriber to the database-->
{% extends 'base.html' %} {% load static %} {% block content %}
<br /><br /><br /><br><br>
<div class="container" style="margin: auto; align: center" ><br><br>
    <h4>Add Prescriber</h4>
    <form name='form' method='POST' style="margin: auto; text-align: center" action="{% url 'additionprescriber' %}">{% csrf_token %}

        <label for="NPI">NPI:</label>
        <input type="text" id="NPI" name="NPI" autofocus>
        <br><br>
    
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" >
        <br><br>
    
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
        <br><br>
    
        <label for="gender">Gender</label>
        <input type="text" id="gender" name="gender">
        <br><br>
    
        <label for="state">State:</label>
        <input type="text" id="state" name="state">
        <br><br>
    
        <label for="credentials">Credentials:</label>
        <input type="text" id="credentials" name="credentials">
        <br><br>
    
        <label for="specialty">Specialty:</label>
        <input type="text" id="specialty" name="specialty">
        <br><br>

        <label for="totalprescriptions">Total Prescription:</label>
        <input type="text" id="totalprescriptions" name="totalprescriptions">
        <br><br>

        <label for="sOpioid">Opioid Prescriber</label><br>
            <input type="radio" id="sOpioid" name="sOpioid" value="yes">
            <label for="opioid_yes">Yes</label><br>
            <input type="radio" id="sOpioid" name="sOpioid" value="no">
            <label for="sOpioid">No</label><br>
    
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

</div>
{% endblock %}