<!-- Authors: Ryan Pinkney, Tanner Davis, Kevin Guiterrez, Jacob Poor - Section 1
  This is the html form to add a prescriber to the database-->
{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  :root {
    /* Regent Gray */
    --main-text: #869ba7;

    /* Limed Spruce */
    --main-heading: #304145;

    /* Cutty Sark */
    --light-main-heading: #5a7277;

    /* White */
    --background: white;

    /* Nobel */
    --selected-background: #b6afb0;

    /* Heather */
    --form-background: #b5c5cd;
  }

  .button {
    background-color: var(--main-heading);
    border-radius: 2px;
    color: var(--selected-background);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding: 8px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    grid-column: 1 / span 2;
    justify-self: center;
  }

  .buttonMargin {
    margin: 0 0 1em;
  }

  .button:hover {
    background-color: var(--light-main-heading);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    cursor: pointer;
  }

  .button:active,
  .button:focus {
    background-color: var(--selected-background);
    box-shadow: 0 0 0 2px var(--main-color-dark) inset;
    color: var(--background);
    cursor: pointer;
  }

  input[type="radio"]::after {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    background-color: var(--main-heading);
    position: absolute;
    top: 1.5px;
    left: 2px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 300ms ease;
  }

  input[type="radio"]:hover,
  input[type="radio"]:focus {
    border-color: var(--main-text);
    box-shadow: 0px 0px 4px var(--main-text);
  }

  input[type="radio"]:checked:after {
    transform: scale(1);
  }

  input[type="text"] {
    background-color: #d8f2ff;
  }
</style>
<div style="background-color: #ecf5ff">
  <br /><br /><br />
  <div class="container" style="align: center">
    <h1 style="padding-top: 20px">Add Prescriber</h1>
    <form
      name="form"
      method="POST"
      style="
        border: 1px solid;
        width: 400px;
        margin: auto;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
      "
      action="{% url 'additionprescriber' %}"
    >
      {% csrf_token %}

      <label style="width: 250px" for="NPI">NPI:</label>
      <input
        style="width: 250px"
        type="text"
        id="NPI"
        name="NPI"
        autofocus
        required
      />
      <br /><br />

      <label style="width: 250px" for="first_name">First Name:</label>
      <input
        style="width: 250px"
        type="text"
        id="first_name"
        name="first_name"
        required
      />
      <br /><br />

      <label style="width: 250px" for="last_name">Last Name:</label>
      <input
        style="width: 250px"
        type="text"
        id="last_name"
        name="last_name"
        required
      />
      <br /><br />

      <label style="width: 250px" for="gender">Gender</label>
      <input
        style="width: 250px"
        type="text"
        id="gender"
        name="gender"
        required
      />
      <br /><br />

      <label style="width: 250px" for="state">State:</label>
      <input
        style="width: 250px"
        type="text"
        id="state"
        name="state"
        required
      />
      <br /><br />

      <label style="width: 250px" for="credentials">Credentials:</label>
      <input
        style="width: 250px"
        type="text"
        id="credentials"
        name="credentials"
        required
      />
      <br /><br />

      <label style="width: 250px" for="specialty">Specialty</label>
      <select
        style="width: 250px; background-color: #d8f2ff"
        name="specialty"
        id="specialty"
      >
        <option value="">None</option>

        {% for specialty in specialty%}
        <option value="{{ specialty }}">{{ specialty }}</option>
        {% endfor %}</select
      ><br /><br />

      <label style="width: 250px" for="totalprescriptions"
        >Total Prescription:</label
      >
      <input
        style="width: 250px"
        type="text"
        id="totalprescriptions"
        name="totalprescriptions"
        required
      />
      <br /><br />

      <label style="width: 250px" for="sOpioid">Opioid Prescriber</label><br />
      <input
        style="
          appearance: none;
          cursor: pointer;
          width: 15px;
          height: 15px;
          border: 2px solid var(--main-text);
          border-radius: 50%;
          position: relative;
          outline: none;
        "
        type="radio"
        id="sOpioid"
        name="sOpioid"
        value="yes"
        required
      />
      <label for="opioid_yes">Yes</label><br />
      <input
        style="
          appearance: none;
          cursor: pointer;
          width: 15px;
          height: 15px;
          border: 2px solid var(--main-text);
          border-radius: 50%;
          position: relative;
          outline: none;
        "
        type="radio"
        id="sOpioid"
        name="sOpioid"
        value="no"
        required
      />
      <label for="sOpioid">No</label><br /><br />

      <button class="button" style="width: 75px" type="submit">Add</button>
    </form>
    <br /><br /><br /><br /><br /><br />
  </div>
</div>
{% endblock %}
