<!-- Authors: Ryan Pinkney, Tanner Davis, Kevin Guiterrez, Jacob Poor - Section 1

This page display the delete successful message.
-->
{% extends 'base.html' %} {% load static %} {% block content %}

<!--Notify the user that the deletion was successful-->
<script>
  alert("Deletion Successful!");
</script>
<div style="background-color: #ecf5ff">
  <br /><br /><br /><br /><br />
  <h4 style="display: flex; justify-content: center">
    Profile deteleted.
  </h4>
  <br /><br /><br /><br /><br />
</div>
{% endblock %}
