<!-- Authors: Ryan Pinkney, Tanner Davis, Kevin Guiterrez, Jacob Poor - Section 1

This page display more information about the opioid epidemic and has the SQL Analysis portion of INTEX.
-->
{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <style>
    :root {
      /* Regent Gray */
      --main-text: #869ba7;
    
      /* Limed Spruce */
      --main-heading: #304145;
    
      /* Cutty Sark */
      --light-main-heading: #5a7277;
    
      /* White */
      --background: white;
    
      /* Nobel */
      --selected-background: #b6afb0;
    
      /* Heather */
      --form-background: #B5C5CD;
    }
    
      .button {
        background-color: var(--main-heading);
        border-radius: 2px;
        color: var(--selected-background);
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        padding: 8px 10px;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;
        grid-column: 1 / span 2;
        justify-self: center;
        }
    
    .buttonMargin {
        margin: 0 0 1em;
        }
    
    .button:hover {
        background-color: var(--light-main-heading);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
        text-decoration: none;
        cursor: pointer;
        }
    
    .button:active,
    .button:focus {
        background-color: var(--selected-background);
        box-shadow: 0 0 0 2px var(--main-color-dark) inset;
        color: var(--background);
        cursor: pointer;
        }
    
        input[type="radio"]::after {
          content: "";
          display: block;
          height: 7px;
          width: 7px;
          background-color: var(--main-heading);
          position: absolute;
          top: 1.8px;
          left: 2px;
          border-radius: 50%;
          transform: scale(0);
          transition: transform 300ms ease;
        }
    
    input[type="radio"]:hover,
    input[type="radio"]:focus {
      border-color: var(--main-text);
      box-shadow: 0px 0px 4px var(--main-text);
    }
    
    input[type="radio"]:checked:after {
      transform: scale(1);
    }

    input[type="text"]{
      background-color: #D8F2FF;
    }
    </style>
    <div style="background-color: #ECF5FF;">
        <br><br>
      <div class="container" style="align: center;"><br>
        <h1 style="padding-top: 20px">Learn More</h1>
      </div>
      <div style="display: flex;
      justify-content: center;">
      <p>The Opioid Epidemic is becoming an increasingly large problem in U.S. and around the world. 
          More deaths are related to opioid overdose than firearms and car accidents.</p>
      </div>
      <br><br>
      <iframe style="display: flex;
      justify-content: center; margin: auto; border: 9px outset #ddd; padding: 6px;" width="860" height="495" src="https://www.youtube.com/embed/oHlaz0kQlRE" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe><br><br><br><br><br>

    <!-- ======= Counts Section ======= -->
    <h2 style="display: flex;
    justify-content: center; margin: auto;">Did you know?</h2><br>
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-6, center">
            <div class="count-box">
              {% comment %} <i class="bi bi-emoji-smile"></i> {% endcomment %}
              <span data-purecounter-start="0" data-purecounter-end="{{ iNumberPrescribedOpioids }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Quantity of Opioids Prescribed</p>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="count-box">
              {% comment %} <i class="bi bi-journal-richtext"></i> {% endcomment %}
              <span data-purecounter-start="0" data-purecounter-end="{{ iNumHydrocodoneAcetaminophen }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Most Prescribed Opioid: Hydrocodone Acetaminophen</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              {% comment %} <i class="bi bi-headset"></i> {% endcomment %}
              <span data-purecounter-start="0" data-purecounter-end="{{oState.deaths}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Most Deaths: {{oState.state}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              {% comment %} <i class="bi bi-people"></i> {% endcomment %}
              <span data-purecounter-start="0" data-purecounter-end="{{oState2.deaths}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Least Deaths: {{oState2.state}}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section --><br><br>

    <span class="member" style="display: flex;
    justify-content: center; ">
    <img style="border: 9px outset #ddd; padding: 6px;"src="{% static 'assets/img/deaths.png'%}" width="660" height="700" alt="">
    </span>
    {% comment %} <div class="col-lg-3 col-6 mt-5 mt-lg-0" style="display: flex;
    justify-content: center; margin: auto;">
        <div class="count-box">
           <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1" class="purecounter"></span>
          <h3>Only Opioid Prescribers</h3>
          {% for currentopioidpres in currentopioidpres %}

          {{ currentopioidpres.fname }} {{ currentopioidpres.lname }}<br><!--The names of the column names have to match perfectly-->
          
        {% endfor %}
        </div>
      </div> {% endcomment %}


      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

  {% endblock %}