{% extends 'base.html' %} {% load static %} {% block content %}
<br /><br /><br />
<style>
  th, td {
    border: 1px solid black;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
</style>
<div class="container" style="align: center">
  <h1>Prescriber: {{ prescriber.fname }} {{ prescriber.lname }}</h1>     <!--The button to view the individual prescribers-->
  <a
    class="btn btn-primary" style="Float: right"
    href="{% url 'editPrescriber' prescriber_id=prescriber.npi %}"
    >Update Prescriber</a>
    <a
    class="btn btn-primary" style="Float: right"
    href="{% url 'delete' prescriber_id=prescriber.npi %}"
    >Delete Prescriber</a>
  <br /><br />
  <p
    style="
      margin: auto;
      font-weight: bold;
      width: 50%;
      border: 2px solid CornflowerBlue;
      padding: 10px;
    "
  >
    Gender: {{ prescriber.gender }} <br />
    Credentials: {{ prescriber.credentials }}<br />
    Specialty: {{ prescriber.specialty }}<br />
    State: {{ prescriber.state }}<br />
    Total Prescriptions: {{ prescriber.totalprescriptions }}</p><br /><br /><br><br><!--The names of the column names have to match perfectly-->
    <table class="center">
        <tr>
          <th>Drug Name</th>
          {% for drugsprescribed in drugsprescribed %}
          <th>{{ drugsprescribed.drugname }}</th>
          {% endfor %}
        </tr>
        
        <tr>
          <th>Average Prescriptions</th>
          {% for drugs in average%}
          <th>{{drugs.avg}} prescriptions</th><!--The names of the column names have to match perfectly-->
          {% endfor %}   
        </tr>
    </table>
<br><br>
</div>
{% endblock %}
