{% extends 'base.html' %} {% load static %} {% block content %}
<br /><br /><br />
<div class="container" style="align: center">
  <h1>Prescriber: {{ prescriber.fname }} {{ prescriber.lname }}</h1>     <!--The button to view the individual prescribers-->
  <a
    class="btn btn-primary" style="Float: right"
    href="{% url 'editPrescriber' prescriber_id=prescriber.npi %}"
    >Update Prescriber</a>
    <a
    class="btn btn-primary" style="Float: right"
    href="{% url 'delete' prescriber_id=prescriber.npi %}"
    >Delete Prescriber</a>
  <br /><br />
  <p
    style="
      margin: auto;
      font-weight: bold;
      width: 50%;
      border: 2px solid CornflowerBlue;
      padding: 10px;
    "
  >
    Gender: {{ prescriber.gender }} <br />
    Credentials: {{ prescriber.credentials }}<br />
    Specialty: {{ prescriber.specialty }}<br />
    State: {{ prescriber.state }}<br />
    Total Prescriptions: {{ prescriber.totalprescriptions }}<br /><br /><!--The names of the column names have to match perfectly-->
    Drugs Prescribed: {{ listdrugs }}<br>
 
  {% for drugsprescribed in drugsprescribed %}

    {{ drugsprescribed.drugname }} {{ average.drugaverage }}<br><!--The names of the column names have to match perfectly-->


  {% endfor %}
  {% for average in average %}

  {{ average.DrugAverage }}


{% endfor %}

</p>
</div>
{% endblock %}
