{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <style>
    :root {
      /* Regent Gray */
      --main-text: #869ba7;
    
      /* Limed Spruce */
      --main-heading: #304145;
    
      /* Cutty Sark */
      --light-main-heading: #5a7277;
    
      /* White */
      --background: white;
    
      /* Nobel */
      --selected-background: #b6afb0;
    
      /* Heather */
      --form-background: #B5C5CD;
    }
    
    .button {
      background-color: var(--main-heading);
      border-radius: 2px;
      color: var(--selected-background);
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      padding: 8px 10px;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      user-select: none;
      grid-column: 1 / span 2;
      justify-self: center;
    }
    
    .button:active {
      background: #007a63;
    }
    
    .button__text {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      color: #ffffff;
      transition: all 0.2s;
    }
    
    .button--loading .button__text {
      visibility: hidden;
      opacity: 0;
    }
    
    .button--loading::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 30px;
      left: 0;
      right: 320px;
      bottom: 0;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }
    
    @keyframes button-loading-spinner {
      from {
        transform: rotate(0turn);
      }
    
      to {
        transform: rotate(1turn);
      }
    }
    
    input[type="radio"]::after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      background-color: var(--main-heading);
      position: absolute;
      top: 1.8px;
      left: 2px;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 300ms ease;
    }
    
    input[type="radio"]:hover,
    input[type="radio"]:focus {
      border-color: var(--main-text);
      box-shadow: 0px 0px 4px var(--main-text);
    }
    
    input[type="radio"]:checked:after {
      transform: scale(1);
    }

    input[type="text"]{
      background-color: #D8F2FF;
    }   
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br><br><br>
    <div style="background-color: #ECF5FF;">
      <div class="container" style="align: center;">
        <h1>Prescriber Recommendation</h1>
     <p>Are you looking for a prescriber for a certain drug? The recommender will provide you with certain prescribers.
         If you are worried a prescriber might write you a presciption for an opioid when you don't need it,
         the recommender tool can help.</p><br>
        <br><br><br><br>
      <form name='form' method='POST'style="border: 1px solid; width: 400px; margin: auto; padding-left:15px; padding-top:15px; padding-bottom: 15px;" action="{% url 'makeRecommendation' %}">{% csrf_token %}
        <label style="width: 250px" for="drug_name">Drug Name:</label><br>
        <input style="width: 250px" type="text" id="drug_name" name="drug_name">
        <br><br>
        <button class="button" onclick="this.classList.toggle('button--loading')" type="submit">
          <span class="button__text">Make Recommendation</span>
        </button>
      </form>
    </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>


  {% endblock %}

