{% extends 'base.html' %}
{% load static %}


  {% block content %}
    <div style="background-color: #ECF5FF;">
        <br><br><br><br>
    <h4>Make a Prediction</h4>

    <h5 style="display: flex;
    justify-content: center;">{{ sOutput }}</h5><br><br><br>    <br><br><br><br>  
    <script>
        alert('Prediction Successful!')

    </script>
    <p style="display: flex;
    justify-content: center;">You can use the likelihood to help people who struggle with misuse avoid prescribers that might prescribe an opioid.</p>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>



</div>
    {% endblock %}

