{% extends 'base.html' %} {% load static %} {% block content %}
<br /><br /><br />
<div class="container" style="align: center">
  <h1>Drug</h1>
  <br /><br />

  {% for drug in drugs %}
  <p
    style="
      margin: auto;
      width: 50%;
      border: 2px solid CornflowerBlue;
      padding: 10px;
    "
  >
    {{ drug.drugname }}<!--The names of the column names have to match perfectly-->
    <a class="btn btn-primary" href="{% url 'showDrugs' drug_id=drug.drugid %}"
      >View</a
    >
  </p>
  {% endfor %}
</div>
{% endblock %}
