{% extends 'base.html' %} {% load static %} {% block content %}
<br /><br /><br />
<div class="container" style="align: center">
  <h1>Drug</h1>
  <br /><br />

    <!--Form to filter drugs-->
        <form method="get" action="{% url 'filterdrug' %}" style="border: 1px solid; width: 50%; margin: auto;">{% csrf_token %}
            <label for="drug_name">Name</label>
            <input type="text" name="drug_name" id="drug_name"><br><br>

            {% comment %} <label for="Opioid">Opioid</label><br> {% endcomment %}
            <input type="radio" id="Opioid" name="Opioid" value="yes">
            {% comment %} <label for="Opioid">Yes</label><br> {% endcomment %}
            {% comment %} <input type="radio" id="Opioid" name="Opioid" value="no">
            <label for="Opioid">No</label><br> {% endcomment %}

            <button class="btn btn-primary" type="submit">Search</button><br><br>
        </form><br><br>

  {% for drug in drugs %}
  <p
    style="
      margin: auto;
      width: 50%;
      border: 2px solid CornflowerBlue;
      padding: 10px;
    "
  >
    {{ drug.drugname }}<!--The names of the column names have to match perfectly-->
    <a class="btn btn-primary" href="{% url 'showDrugs' drug_id=drug.drugid %}"
      >View</a
    >
  </p>
  {% endfor %}
</div>
{% endblock %}
