{% extends 'base.html' %}
{% load static %}


  {% block content %}
    <br><br><br><br>
    <h4 style="    display: flex;
    justify-content: center;">{{ recommendation1 }}</h4><br>
    <h4 style="    display: flex;
    justify-content: center;">{{ recommendation2 }}</h4><br>
    <h4 style="    display: flex;
    justify-content: center;">{{ recommendation3 }}</h4><br>
    <h4 style="    display: flex;
    justify-content: center;">{{ recommendation4 }}</h4><br>
    <h4 style="    display: flex;
    justify-content: center;">{{ recommendation5 }}</h4><br>
    <script>
        alert('Recommendation Successful!')

    </script>

  {% endblock %}