<!-- Authors: Ryan Pinkney, Tanner Davis, Kevin Guiterrez, Jacob Poor - Section 1

This page will display the recommender fields
-->
{% extends 'base.html' %} {% load static %} {% block content %}
<div style="background-color: #ecf5ff">
  <br /><br /><br />

  <!--Display the output of the recommender-->
  <div class="container" style="align: center">
    <h1 style="padding-top: 20px">Prescriber Recommendations</h1>
    <br />
    <p style="display: flex; justify-content: center">
      These are the prescribers likely to write you a prescription for
      {{drug_name}}.
    </p>
    <br /><br />
    <h4 style="display: flex; justify-content: center">
      {{ recommendation1 }}
    </h4>
    <br />
    <h4 style="display: flex; justify-content: center">
      {{ recommendation2 }}
    </h4>
    <br />
    <h4 style="display: flex; justify-content: center">
      {{ recommendation3 }}
    </h4>
    <br />
    <h4 style="display: flex; justify-content: center">
      {{ recommendation4 }}
    </h4>
    <br />
    <h4 style="display: flex; justify-content: center">
      {{ recommendation5 }}
    </h4>
    <br />

    <!--Alert box to notify the user when the recommendation process was successful-->
    <script>
      alert("Recommendation Successful!");
    </script>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </div>
  {% endblock %}
</div>
